@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-size: 0.8em;
    padding-top: 2.8125rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* HELPER */
.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;

}

@media (max-width: 63.9375em) {
    .hide-for-mobile {
        display: none;
    }
}
@media (min-width: 64em) {
    .hide-for-desktop {
        display: none;
    }
}
/* HEADER */
header {
    position: fixed;
    top:0;
    margin:0;
    padding: 0;
    width: 100%;
    background-color: #142926;
    z-index:1;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.8125rem;
}
.header-menu-toggle {
    display: inline-block;
}
.header-menu-toggle > span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #54edc9;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 1px;
    transform-origin: 0 1px;
}

.header-menu-toggle  > span:not(:last-child) {
    margin-bottom: 5px;
}


.header.open .header-menu-toggle > span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header.open .header-menu-toggle > span:nth-child(2) {
    opacity: 0;
}

.header.open .header-menu-toggle > span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* mobile height  height: 3.125rem; **/

.header-logo img {
    height: 20px;
}
@media (min-width: 34em) {
    .hide-for-desktop {
        display: none;
    }
}
.header-menu {
    z-index:2;
    display: none;
}
.header.open .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.8125rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 41, 38, 0.9);
}

.header.open .header-menu a {
    display: block;
    width: 100%;
    padding: 14px 0;
    font-size: 1.875em;
    text-align: center;
}
@media (min-width: 34em) {
    .header-menu {
        display: block;
    }
    .header-menu a {
        font-size: 12px;
        margin-right: 0.8em;
    }
}
.header-menu a, .header-menu a:focus, .header-menu a:visited {
    text-decoration: underline;
}

.header-menu a, .header-menu a:visited {
    color: #50e3c2;
    text-decoration: none;
}



.hero {
    margin-bottom: 40px;
    height: 250px;
    background-image: url(assets/Mobile_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
@media (min-width: 34em) {
    .hero {
        height: 100vh;
        max-height: 550px;
        background-image: url(assets/Desktop_header.png);



    }
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;


}
.hero-text h1 {
    margin:0 0 1px 0;
    padding: 0;
    font-weight: 900;
    font-size: 3.1875em;
}
.hero-text h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 3.0em;
}

.event-list {

}
.event-item {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

}
.event-item-content {
    display: flex;
    background-color: #f2f2f2;
    padding: 0;


}
.event-item-image {
    display: inline-block;
    width: 30%;
    min-width: 150px;
    vertical-align: top;
    overflow: hidden;

}
.event-item-text {
    position: relative;
    display: inline-block;
    width: calc(100% - 150px);

    padding: 12px 25px 10px 15px;


}
.event-item-text::before {
    content: "";

    display: block;
    width: 25px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('assets/right_chevron.svg') no-repeat center;

}
.event-item-image img {
    width: auto;
    height: 100%;
    max-height: 130px;

}
.event-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
}
.event-item p {
    margin: 0;
    padding: 0;
    font-size: 11px
}
@media only screen and (min-width: 34em) {
    .event-item-text::before {
        content: "";
        display: none;

    }
    .event-item {
        margin: 0;
        padding: 0 20px;
    }
    .event-item-content {
        display: block;
        padding: 0 0 20px 0;
    }
    .event-item-image {
        width: 100%;
        margin-right: 0;
    }

    .event-item img {
        width: 100%;
        height: auto;
        max-height: 100%;
        margin-bottom: 15px;

    }
    .event-item-text {

        width: 100%;
        padding: 0;

    }
    .event-item h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        padding: 15px 20px 0 20px;
    }

    .event-item p {
       margin: 0;
        padding: 15px 20px;
    }

}
@media only screen and (max-width: 48em) and (min-width: 34em) {
    .event-list {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 -20px;
    }
    .event-list > .event-item:nth-child(2n+1) {
        margin-top: 10px;
    }
    .event-list > .event-item:nth-child(2n+2) {
        margin-top: 30px;
    }

}
@media only screen and (min-width: 48.0625em) {
    .event-list {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 0 -20px;
    }
    .event-list > .event-item:nth-child(3n+1) {
        margin-top: 10px;
    }
    .event-list > .event-item:nth-child(3n+2) {
        margin-top: 30px;
    }
    .event-list > .event-item:nth-child(3n+3) {
        margin-top: 50px;
    }
}

footer {

    margin-top: 1.875rem;
    background-color: #6f7877;
}
footer .container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links {
    display: inline-block;

}
.footer-links a {
    width: 100%;
    margin-right: 0.8em;

    font-size: 12px;
    color: #d9dbdb;
    text-decoration: none;
}